<header class="header">
  <a href="#" class="logo">TravelerHub</a>
  <nav class="nav">
    <ul class="nav__main">
      <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
      <li class="nav__item">
        <a href="/flights" class="nav__link">Flights</a>
      </li>
      <li class="nav__item">
        <a href="/hotels#" class="nav__link">Hotels</a>
      </li>
      <li class="nav__item"><a href="/cars" class="nav__link">Cars</a></li>
      <li class="nav__item">
        <a href="/dashboard" class="nav__link">Dashboard</a>
      </li>
    </ul>
  </nav>
  <button class="nav-mobile">
    <ion-icon class="nav__icon" name="menu-outline"></ion-icon>
    <ion-icon class="nav__icon" name="close-outline"></ion-icon>
  </button>
</header>
